/* reset */
body{margin-top:20px;}
.container
{
    margin-left: 30%;
    width:800px;
	height: 500px;
}
@page {
    size: A4 landscape;
}
.table-center
{
    margin-left:200px;
    margin-top: 30px;
}
#content
{
    width:800px;
    height:500px;
}