<div class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form method="post">
        <h3>Drop Us Your Request</h3>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" [(ngModel)]="id" name="txtName" class="form-control" placeholder="Your tracking ID" name="track" />
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="email" name="txtEmail"  class="form-control" placeholder="Your Email " name="email"/>
                </div>
                <div class="form-group">
                    <button (click)="checking()" type="submit" name="btnSubmit" class="btnContact">Send Message</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="txtMsg" [(ngModel)]="msg" class="form-control"  placeholder="Your Message " style="width: 100%; height: 140px;" name="messages"></textarea>
                </div>
            </div>
        </div> 
     </form>
</div> 
<!-- <div class='container'>
<form action="https://formspree.io/f/mqkozzbb" method="post">
	<input type="text" name="name" id="name"/>
	<button type="submit">SEND</button>
</form>
</div> -->