<div class="container">
<table  class="table borderless">
    <tr>
        <!-- <th></th> -->
        <th>TRACKING ID</th>
        <th>EMAIL ID</th>
        <!-- <th>PHONE NUMBER</th> -->
        <th>STATUS</th>
        <th colspan="4">OPERATION</th>
    </tr>
    <tr *ngFor="let person of customer">
        <ng-container *ngIf="person.product_shiped=='2'" >
        <!-- <td>
            <ng-container *ngIf="sent">
                    <i class="fa fa-check mr-3  " style='color: green' aria-hidden="true"></i>
            </ng-container>
            <ng-container *ngIf="sent==false">
                    <i class="fa fa-times mr-3  " style='color: red' aria-hidden="true"></i>
            </ng-container>
        </td> -->
        <td>{{person.tracking}}</td>
        <td>{{ person.email}}</td>
        <td>OUT FOR DELIVERY</td>
        <!-- <td>{{ person.phone}}</td> -->
        <!-- <td> -->
            <!-- <p *ngIf="person.product_shiped=='0'">SHIPED</p>
            <p *ngIf="person.product_shiped=='1'">IN TRANSIT</p> -->
            <!-- <p *ngIf="person.product_shiped=='2'">OUT FOR DELIVERY</p> -->
        <!-- </td> -->
        <td><button style="width: 150px;" (click)="modify(person.tracking)" class="btn btn-warning">SEND UPDATE</button></td>
        </ng-container>
    </tr>
</table>
</div>
