<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="assets/image/RNTBCI.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">TrackPost</h4>
        <p class="font-weight-light text-muted mb-0">Courier Tracking</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
   
    <li class="nav-item">
      <a routerLink="/mail" class="nav-link text-dark font-italic">
                <i class="fa fa-envelope mr-3 text-primary fa-fw"></i>
                REQUESTS
            </a>
    </li>
    <li class="nav-item">
        <a routerLink="/login" class="nav-link text-dark font-italic">
          <i class="fa fa-power-off mr-3  " style='color:green' aria-hidden="true"></i>
                  USER LOGIN
              </a>
      </li>
  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">MORE</p>

  <ul class="nav flex-column bg-white mb-0">

    <li class="nav-item">
      <a href="/adminlogin" class="nav-link text-dark font-italic">
        <i class="fa fa-power-off mr-3  " style='color: green' aria-hidden="true"></i>
                ADMIN LOGIN
            </a>
    </li>
    <li class="nav-item">
      <a href="/dlogin" class="nav-link text-dark font-italic">
        <i class="fa fa-power-off mr-3  " style='color: green' aria-hidden="true"></i>
                DELIVERY LOGIN
            </a>
    </li>

  </ul>
</div>
<div class="page-content p-5" id="content">
  
</div>
