
<div class="container padding-bottom-3x mb-1">
    <div class="card mb-3">
      <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">Enter the courier details</span></div>
      <div class="card-body">
        <form name="myForm">
        <table class="table borderless">
            <thead>
              <tr>
                <td>TRACKING ID : </td>
                <td>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                          DTDC
                        </div>
                  <input type="text" class="form-control" id="inlineFormInputGroup" [(ngModel)]="t" [(ngModel)]="cust.tracking"  name="tracking_id" #trackingnumber="ngModel" required/>
                  </div>
                <div *ngIf="trackingnumber.touched && !trackingnumber.valid">
                  <span class="text-danger">Tracking id is invalid</span>
                </div>
                </td>
              </tr>
              <tr>
                <td>BAG TOTAL : </td>
                <td><input type="text"  class="form-control"id="bill" [(ngModel)]="c.bill_amount" name="bill"  required/></td>
              </tr>
              <tr>
                <td>ADDRESS : </td>
                <td>
                  <textarea class="form-control" cols="23" rows="3" id="address" [(ngModel)]="address" name="address"  required></textarea>
                  <br>
                  <div class="input-group-prepend">
                      <div class="input-group-text">
                        PINCODE
                      </div>
                  <input type="text" [(ngModel)]="pincode" id="pincode" name="pincode" class="form-control"/>
                  </div>
                </td>
              </tr>
              <tr>
                  <td>ESTIMATED DELIVERY: </td>
                  <td><input type="date" [min]="c.date" class="form-control" id="date" [(ngModel)]="c.date" name="date" required/></td>
              </tr>
              <tr>
                <td>DELIVERY PERSON ID: </td>
                <td>
                  <select class="form-control" name="id" [(ngModel)]="c.deliveryboypin" required>
                      <option value="NA" selected disabled >DELIVERY PIN</option>
                    <ng-container  *ngFor="let index of d">
                      <option value={{index}}>{{index}}</option>
                    </ng-container>
                  </select>
                  <!-- <input type="text" id="dBPIN" [(ngModel)]="c.deliveryboypin" name="dbpin"  required/> -->
                </td>
            </tr>
            <!-- <tr>
              <td>TRACKING ID : </td>
              <td><input type="text"id="tracking" [(ngModel)]="cust.tracking" name="tracking"/></td>
            </tr> -->
            <tr>
              <td>FROM ADDRESS ID : </td>
              <td><input class="form-control" type="text" id="from" [(ngModel)]="cust.from_id" name="cust_id"  required/></td>
              <td><button (click)="sample()"><i class='fas fa-comment' style='font-size:24px'></i></button></td>
            </tr>
            <tr>
                <td>PRODUCT SHIPPED : </td>
                <td>
                  <input type="radio" id="product" [(ngModel)]="cust.product_shiped" name="product_shipped" value="0"> YES
                  <!-- <input type="radio" id="product" [(ngModel)]="cust.product_shiped" name="product_shipped" value="-1"> NO -->
                </td>
              </tr>
              <tr>
            <tr>
                <td>EMAIL ID: </td>
                <td>
                  <input class="form-control" type="email" id="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" [(ngModel)]="cust.email" name="email" #email="ngModel"  required/>
                </td>
            </tr>
            <div *ngIf="email.touched && !email.valid">
              <span class="text-danger text-center">Email Id is invalid</span>
            </div>
            <tr>
              <td>PHONE NUMBER: </td>
              <td><input class="form-control" type="text"  pattern="[0-9]{2}-[0-9]{10}" id="phone" [(ngModel)]="cust.phone" name="phone" #phone="ngModel" required/></td>
            </tr>
            <div *ngIf="phone.touched && !phone.valid">
              <span class="text-danger text-center">Phonenumber is invalid</span>
            </div>
              <tr>
                  <td colspan="5"><button type="button" (click)="setValue()" class="btn btn-primary btn-lg btn-block">SUBMIT</button></td>
              </tr>
            </thead>
        </table>
        </form>
    </div>
    </div>
</div>
