<body>
<div class="container padding-bottom-3x mb-1">
    <div class="card mb-3">
      <div class="p-4 text-center text-white text-lg bg-dark rounded-top"><span class="text-uppercase">Enter your Admin credentials</span></div>
      <div class="card-body">
        <table class="table borderless">
            <thead>
              <tr>
                <td>ADMIN USERNAME  : </td>
                <td><input type="text" [(ngModel)]="id" name="id" placeholder="ENTER THE USERNAME"/></td>
              </tr>
              <tr>
                <td>ADMIN PASSWORD  : </td>
                <td><input type="password" [(ngModel)]="pass" name="pass" placeholder="ENTER THE PASSWORD"/></td>
              </tr>
              <tr>
                  <td colspan="5"><button type="button" (click)="clickEvent(id,pass)" class="btn btn-primary btn-lg btn-block">SUBMIT</button></td>
              </tr>
            </thead>
        </table>
    </div>
    </div>
</div>
</body>